# Working with Strings

String is a sequence of characters.

In [20]:
hello_str = "Hello World"

## Indexing and Slicing

In [2]:
hello_str[4]

'o'

In [3]:
hello_str[6:10]

'Worl'

In [4]:
hello_str[-1]

'd'

In [5]:
hello_str[3:-2]

'lo Wor'

In [21]:
hello_str

'Hello World'

In [24]:
hello_str[3:10:3]

'lWl'

In [8]:
hello_str[::]

'Hello World'

In [9]:
hello_str[::3]

'HlWl'

In [10]:
hello_str[::-1]

'dlroW olleH'

In [11]:
hello_str[::-2]

'drWolH'

In [12]:
name_one = "Jerry" 
name_one[0] = "K"           #strings are immutable

TypeError: 'str' object does not support item assignment

In [6]:
name_one = "Kerry"
name_one

'Kerry'

In [7]:
name_one = name_one[:2]+'i'+name_one[4:]
name_one

'Keiy'

In [15]:
for i in "Hello World":   #strings are iterable
    print(i)

H
e
l
l
o

W
o
r
l
d

In [16]:
my_str = "Hello"

Concatenation (+) and Repetition (*) Operators

In [17]:
my_str + ' '

'Hello '

In [18]:
my_str * 3

'HelloHelloHello'

In [19]:
(my_str + ' ') * 3

'Hello Hello Hello '

In [20]:
my_str + ' ' * 3

'Hello   '

Comparison Operators

In [21]:
'A' < 'B'    #Unicode UTF-8 encoding

True

In [30]:
'z' < 'hello'

False

In [22]:
'A' > 'a'

False

In [31]:
"Hello" < "hello"

True

In [33]:
ord("h")

104

In [23]:
ord('A')

65

In [24]:
ord('a')

97

In [25]:
'a' < 'b'

True

In [26]:
chr(87)

'W'

In [27]:
'abc' < 'cde'      #123 < 456

True

In [1]:
'z'<'abcd'

False

In [28]:
'abc' < 'abd'

True

In [29]:
'abc' < 'abcd'

True

In [30]:
''< 'a'

True

'in' operator

In [10]:
vowels ="aeiou"
'a' in vowels

True

In [34]:
'ao' in vowels

False

Some functions to be used with Strings

In [35]:
my_str = "Hello"

In [36]:
my_str.upper()

'HELLO'

In [37]:
my_str

'Hello'

In [34]:
my_str.find('l')

2

In [35]:
my_str.find('ll')

2

In [27]:
my_str.find('l',6)

-1

In [29]:
my_str.index('l',2)

2

In [38]:
my_str.index('ll')

2

In [39]:
my_str.index('w')

ValueError: substring not found

In [40]:
my_str2 = "Hello Yellow"

In [13]:
my_str2.find('o')

NameError: name 'my_str2' is not defined

In [14]:
name = "Muhammad Ali                 Jinnah"
first, middle, last = name.split(',')                       # split function
transformed = last + ',' + first + ' ' + middle
transformed

'Jinnah,Muhammad Ali'

# String Formatting

In [38]:
x = 24
y = 97

In [48]:
print("x=", x, "and y=", y) # lot of work and unnecessary spaces

x= 24 and y= 97

In [49]:
z = 100
print("x=", x, ",y=", y, "and z=",z)

x= 24 ,y= 97 and z= 100

In [51]:
print("x=%d" % x )  # old method (can also add a second variable)

x=  24

In [52]:
print("x=%d, y=%d  z=%d" % (x,y,z) )

x=24, y=97  z=100

In [54]:
a = 1.2
msg = "hello"

print("x=%d a=%f and msg=%s" % (x,a,msg) ) # %f to hold float values, %s to hold string values

x=24 a=1.200000 and msg=hello

In [55]:
a = 1.2356789
print("a=%f" % a)

a=1.235679

In [56]:
i = 1
while i<=10000:
    print(i)
    i*=10

1
10
100
1000
10000

In [57]:
i = 1
while i<=10000:
    print("%6d"%i)
    i*=10

     1
    10
   100
  1000
 10000

In [61]:
print("a=%.2f and y=%3d" % (a, y) )

a=1.24 and y= 97

In [39]:
print("x={} and y=     {}".format(x, y))  #alternative method for string formatting

x=24 and y=     97

In [ ]:
print("""{0} and {1} went up the hill to fetch a pail of water
      \n{0} fell down and broke his crown and {1} canme tumbling after""".format("Jack","Jill"))

In [64]:
import math
print("The value of pi is {}".format(math.pi))

The value of pi is 3.141592653589793

In [65]:
print("The value of pi is {:.3f}".format(math.pi))

The value of pi is 3.142

In [66]:
l = [1, 98, 23, 198]
for i in l:
    print("{:3}".format(i))

  1
 98
 23
198

In [72]:
l = [1, 98, 23, 198]
for i in l:
    print("{:03d}".format(i)) # 0 padding

001
098
023
198

In [67]:
print("{:10s} is {:10d} years old".format("Bill",25))

Bill       is         25 years old

In [68]:
print("{:>10s} is {:<10d} years old".format("Bill",25))

      Bill is 25         years old

## Palindrome

a word, phrase, or sequence that reads the same backwards as forwards, e.g. madam or nurses run.

In [74]:
pal_1 = "Madam, I'm Adam"
pal_2 = "A man, a plan, a canal, Panama"

In [75]:
print("Forward: {} \nBackward: {}".format(pal_1,pal_1[::-1]))

Forward: Madam, I'm Adam
Backward: madA m'I ,madaM

In [18]:
x=3
y=5
print (f"x = {x} , y = {y}")

x = 3 , y = 5

In [77]:
str = "hello"
str.replace('l','')

'heo'

In [ ]:
# Palindrome tester
import string

original_str = input('Input a string:')
modified_str = original_str.lower()

bad_chars = string.whitespace + string.punctuation

for char in modified_str:
    if char in bad_chars:  # remove bad characters
        modified_str = modified_str.replace(char,'')
        
if modified_str == modified_str[::-1]: # it is a palindrome
    print(\
'The original string is:  {}\n\
 the modified string is: {}\n\
 the reversal is:        {}\n\
 String is a palindrome'.format(original_str, modified_str, modified_str[::-1]))
else:
    print(\
'The original string is:  {}\n\
 the modified string is: {}\n\
 the reversal is:        {}\n\
 String is not a palindrome'.format(original_str,modified_str,modified_str[::-1]))

In [2]:
"""hello string jakfdjs  fakfhdlj
kashfkjdfhksdfdk;sf
skdjfhkjsdhfjdhf\n\thfskjfhskdjf"""

'hello string jakfdjs  fakfhdlj\nkashfkjdfhksdfdk;sf\nskdjfhkjsdhfjdhf\n\thfskjfhskdjf'

In [4]:
'''jhfjhhfhg
gjhjghjghjgjhgjhg
gjhgjgjgjhgjhgjhgjhghj'''

'jhfjhhfhg\ngjhjghjghjgjhgjhg\ngjhgjgjgjhgjhgjhgjhghj'